<app-header></app-header>
<h2 style="padding-top: 150px;">Editar Habilidad Blanda</h2>
<form (submit)="onSubmit()" class="mt-4">
  <div class="form-group">
    <label for="nombreHB">Nombre Habilidad:</label>
    <input type="text" name="nombreHB" [(ngModel)]="skills.nombreHB" required class="form-control" required maxlength="255">
  </div>
  <div class="form-group">
    <label for="descripHB">Descripción:</label>
    <textarea name="descripHB" [(ngModel)]="skills.descripHB" required class="form-control" required maxlength="255"></textarea>
  </div>
  <div class="form-group">
    <label for="porcentajeHB">Porcentaje:</label>
    <input type="number" name="porcentajeHB" [(ngModel)]="skills.porcentajeHB" required class="form-control">
    <div *ngIf="!isPorcentajeValido()">Porcentaje debe ser un número entre 1 y 100</div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
  </div>
</form>
<app-footer></app-footer>
