<div class="container-fluid m-0 p-0">
<h1 class="text-center">Skills</h1>
<div class="row">
    <h2 class="text-center">Habilidades Blandas</h2>
    <div class="col-12">
      <div class="row">
        <div *ngFor="let skill of skills" class="col-12 col-md-6 col-lg-4 text-center mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ skill.descripHB }}</h5>
              <circle-progress
                [percent]="skill.porcentajeHB"
                [radius]="100"
                [title]="skill.nombreHB"
                [titleColor]="'black'"
                [titleFontSize]="'1.5rem'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#5f00a3'"
                [innerStrokeColor]="'#fc7a00'"
                [animation]="true"
                [animationDuration]="300"
                class="mb-3">
              </circle-progress>
              <div *ngIf="estaLogueado()" class="button-group">
                <button (click)="editarHabilidadBlanda(skill.id)" class="btn btn-primary me-3">
                  <i class="far fa-edit"></i>
                  Editar
                </button>
                <button (click)="eliminarHB(skill.id)" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i>
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <h2 class="text-center">Habilidades Duras</h2>
    <div class="col-12">
      <div class="row">
        <div *ngFor="let skill of skillsDuras" class="col-12 col-md-6 col-lg-4 text-center mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ skill.nombreHD }}</h5>
              <circle-progress
              [percent]="skill.porcentajeHD"
              [radius]="100"
              [title]="skill.porcentajeHD"
              [titleColor]="'black'"
              [titleFontSize]="'1.5rem'"
              [showSubtitle]="false"
              [showTitle]="true"
              [showUnits]="true"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#5f00a3'"
              [innerStrokeColor]="'#fc7a00'"
              [animation]="true"
              [animationDuration]="300"
              [showBackground]="true"
              class="mb-3">
            </circle-progress>
              <div *ngIf="estaLogueado()" class="button-group">
                <button (click)="editarHabilidadDura(skill.id)" class="btn btn-primary me-3">
                  <i class="far fa-edit"></i>
                  Editar
                </button>
                <button (click)="eliminarHD(skill.id)" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i>
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row" style="margin-bottom: 10vh;">
    <h2 class="text-center">Idiomas</h2>
    <div *ngFor="let idioma of idiomas" class="col-12 col-md-6 col-lg-4 text-center">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ idioma.nombreI }}</h5>
          <p class="card-text">{{ idioma.descripI }}</p>
          <div *ngIf="estaLogueado()" class="button-group">
            <button (click)="editarIdioma(idioma.id)" class="btn btn-primary me-3"><i class="far fa-edit"></i> Editar</button>
            <button (click)="eliminarIdioma(idioma.id)" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
