.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #666;
  }
  
  .circle-progress {
    display: block;
    margin: 0 auto;
  }

  .boton-proyecto {
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .boton-proyecto:hover {
    background-color: #1a237e;
  }

  .container{
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  h1{
    padding-top: 5vh;
    margin-bottom: 2vh;
  }

  h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: #FC7A00;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

h2{
  margin-top: 5vh;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #5F00A3;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.container-fluid{
  background-image: url('../../../assets/img/fondo-skills.png');
  background-size: 100% 100%;
  background-position: left  !important;
  background-repeat: no-repeat;
  
}