#lap {
    max-width: 100%;
    height: auto;
    width: 8vw; /* Tamaño relativo */
  }
  
  @media (max-width: 768px) { /* Media query para adaptar el tamaño en dispositivos móviles */
    #lap {
      width: 30vw;
    }
  }