<div class="container-fluid">
<div class="row">
    <h1 class="text-center">Educacion</h1>
    <div *ngIf="estaLogueado()" class="text-center">
      <button (click)="crearEducacion()" class="btn btn-success me-3">Crear Educacion <i class="far fa-edit"></i></button>
    </div>
    <div *ngFor="let edu of educacion" class="col-12 col-md-6 col-lg-4 text-center">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ edu.cursoEdu }}</h5>
          <p class="card-text">Fecha Finalizacion: {{ edu.fechaEdu }}</p>
          <p class="card-text">Institucion: <br> {{ edu.instiEdu }}</p>
          <p class="card-text">Datos complementarios: <br>{{ edu.descrpEdu }}</p>
        </div>
      </div>
      <div *ngIf="estaLogueado()" class="button-group">
        <button (click)="editarEducacion(edu.id)" class="btn btn-primary me-3">
          <i class="far fa-edit"></i>
          Editar
        </button>
        <button (click)="eliminarEducacion(edu.id)" class="btn btn-danger">
          <i class="far fa-trash-alt"></i>
          Eliminar
        </button>
    </div>
  </div>
</div>