footer {
    background: linear-gradient(to left, #0b0211, #BF0089);
    color: #fff;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
    min-height: 10vh;
  }
  
  footer p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  footer ul li i {
    margin-right: 5px;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 50px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons li a {
    color: #fff;
    font-size: 50px;
  }
  
  .social-icons li a:hover {
    color: #f00;
  }

  .fa-facebook {
   
    font-size: 50px;
    margin: 10px;
  }

  .fa-instagram{
    font-size: 50px;
    margin: 10px;
  }

