<div class="container-fluid"  *ngFor="let persona of personas">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="{{ persona.img }}" alt="" class="img-fluid">
        </div>
        <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
            <p class="data1 text-center">{{ persona.nombre }} {{ persona.apellido }}</p>
            <p class="data2 text-center">Full Stack Developer</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-7 text-center">
            <span>
                <p class="about-as">Presentación</p>
                <p>{{ persona.descripcion }}</p>
            </span>
        </div>
        <div *ngIf="estaLogueado()" class="button-group text-center">
            <button (click)="editarPersona(persona.id)" class="btn btn-primary me-3">Editar <i class="far fa-edit"></i></button>
            <button (click)="eliminarPersona(persona.id)" class="btn btn-danger">Eliminar <i class="far fa-trash-alt"></i></button>
        </div>
    </div>
</div>