<div class="d-flex flex-wrap justify-content-center align-items-center mt-2">
    <a *ngFor="let persona of personas" href="{{ persona.linkedin }}" target="_blank" class="me-3 mb-2">
      <img src="../../../assets/img/linkedin.png" alt="" class="redes-img">
    </a>
    <a *ngFor="let persona of personas" href="{{ persona.github }}" target="_blank" class="me-3 mb-2">
      <img src="../../../assets/img/github.png" alt="" class="redes-img">
    </a>
    <button *ngIf="!estaLogueado" class="btn btn-outline-light btn-login" type="button" routerLink="/login">LOGIN</button>
    <button *ngIf="estaLogueado" class="btn btn-outline-light btn-login" type="button" (click)="logout()">LOGOUT</button>
  </div>