.redes-img {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  }
  
  .redes-img:hover {
  filter: grayscale(0%);
  }
  
  .btn-login {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease-in-out;
  }
  
  .btn-login:hover {
  background-color: #fff;
  color: #000;
  }
  
  @media (max-width: 576px) {
  .redes-img {
  width: 2rem;
  margin-right: 0.5rem;
  }
  
  .btn-login {
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  }
  }