.parallax {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/img/home.png');
    background-size: 100vw 100%;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9; /* ajusta la opacidad para lograr el efecto deseado */
    filter: grayscale(100%);
    z-index: -1;
}

.parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 10vh;
    font-weight: bold;
    color: #5f00a3;
    margin-bottom: 1rem;
}

.parallax-content p {
    font-size: 5vh;
    color: #FC7A00;
}

@media (min-width: 1024px) {

    h1 {
        font-size: 5vh !important;
        font-weight: bold;
        color: #5f00a3;
        margin-bottom: 1rem;
    }
    
    .parallax-content p {
        font-size: 3vh !important;
        color: #FC7A00;
    }

}