<app-header></app-header>
<h2 style="padding-top: 150px;">Editar Idioma</h2>
<form (submit)="onSubmit()" class="mt-4">
  <div class="form-group">
    <label for="nombreI">Nombre Idioma:</label>
    <input type="text" name="nombreI" [(ngModel)]="idiomas.nombreI" required class="form-control">
  </div>
  <div class="form-group">
    <label for="descripI">Descripción:</label>
    <textarea name="descripI" [(ngModel)]="idiomas.descripI" required class="form-control"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
  </div>
</form>
<app-footer></app-footer>